<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Cart</title>

    <link rel="icon" href="img/core-img/favicon.ico">
    <link href="/style.css" rel="stylesheet">
    <link href="/css/responsive/responsive.css" rel="stylesheet">

</head>
<body>
<div class="caviar-search-form d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="search-close-btn" id="closeBtn">
                    <i class="pe-7s-close-circle" aria-hidden="true"></i>
                </div>
                <form action="#" method="get">
                    <input type="search" name="caviarSearch" id="search" placeholder="Search Your Favourite Dish ...">
                    <input type="submit" class="d-none" value="submit">
                </form>
            </div>
        </div>
    </div>
</div>


<header class="header_area" id="header" style="background-color: rgba(0, 0, 0, 0.85);">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 h-100">
                <nav class="h-100 navbar navbar-expand-lg align-items-center">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#caviarNav"
                            aria-controls="caviarNav" aria-expanded="false" aria-label="Toggle navigation"><span
                            class="fa fa-bars"></span></button>
                    <div class="collapse navbar-collapse" id="caviarNav">
                        <ul class="navbar-nav ml-auto" id="caviarMenu">
                            <li class="nav-item ">
                                <form method="get"
                                      th:action="@{/}">
                                    <button class="nav-link"
                                            style="background: none!important; border: none"><b>Home</b></button>
                                </form>
                            </li>

                            <li class="nav-item">
                                <form method="get"
                                      th:action="@{/}">
                                    <button class="nav-link"
                                            style="background: none!important; border: none"><b>About us</b></button>
                                </form>
                            </li>
                            <li class="nav-item">
                                <form method="get"
                                      th:action="@{/products/menu}">
                                    <button type="submit" class="nav-link"
                                            style="background: none!important; border: none"><b>Menu</b></button>
                                </form>
                            </li>

                            <li class="nav-item ">
                                <form method="get"
                                      th:action="@{/contact-us}">
                                    <button type="submit" class="nav-link"
                                            style="background: none!important; border: none"><b>Contact</b></button>
                                </form>
                            </li>
                            <li class="nav-item active">
                                <form method="get"
                                      th:action="@{/user/get-cart-products}">
                                    <button type="submit" class="nav-link"
                                            style="background: none!important; border: none"><b>Cart</b></button>
                                </form>
                            </li>
                        </ul>

                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<br>
<br>
<br>
<br>
<div class="container" style="padding-top: 35px;">
    <div class="row">

        <table class="table  table-hover ">
            <tbody class="">
            <tr>
                <th>Product image</th>
                <th>Product name</th>
                <th>Price</th>

                <th>Description</th>
                <th>Ingredients</th>

                <th>Type</th>
                <th>Action</th>
            </tr>
            </tbody>
            <tbody class="" th:each="product:${session.userCart}">

            <tr class="align-content-center justify-content-center align-items-center">
                <td class=""><img th:src="${product.getImage()}" alt="" width="100px" height="100px"></td>
                <td class="text-left" style="" th:text="${product.getName()}"></td>
                <td class="pt-lg-t" th:text="${product.getPrice()}"></td>
                <td class="pt-lg-t">
                    <div th:text="${product.getDescription()}" style="width: 210px; font-size: 14px"></div>
                </td>
                <td class="pt-lg-t">
                    <div th:text="${product.getIngredients()}" style="width: 210px; font-size: 14px"></div>
                </td>
                <td class="pt-lg-t">
                    <div th:text="${product.getType()}" style="width:40px"></div>
                </td>
                <td class="pt-lg-t">
                    <form th:action="@{/user/delete-product/{id}(id=${product.getId()})}"
                          method="post">
                        <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i</button>
                    </form>
                    <div title="" href="" class="btn btn-danger"><i class="fa fa-trash"></i></div>
                </td>
            </tr>
            </tbody>

            <tfoot>
            <tr>
                <td style=" position: relative;right: 13px; width: 300px;">
                    <form th:action="@{/products/menu}"
                          method="get">
                        <button type="submit" class="btn btn-warning text-white">
                            <i class=" fa fa-angle-left"></i>
                            Continue Shopping
                        </button>
                    </form>
                </td>
                <td></td>
                <td></td>
                <td><b>Total price: $</b><b th:text=" ${session.totalPrice}"></b></td>
                <td></td>
                <td>
                    <form action='/stripe/charge' method='POST' id='checkout-form'>
                        <input type='hidden' th:value='${session.totalPrice}' name='amount'/>
                        <label>Total price to pay: <span th:text='${session.totalPrice}'></span>$ DOLLARS</label>
                        <!-- NOTE: data-key/data-amount/data-currency will be rendered by Thymeleaf -->
                        <script
                                src='https://checkout.stripe.com/checkout.js'
                                class='stripe-button'
                                th:attr='data-key=${session.STRIPE_P_KEY},
                            data-amount=${session.totalPrice},
                            data-currency=${session.currency}'
                                data-name='Baeldung'
                                data-description='Spring course checkout'
                                data-image
                                        ='https://www.baeldung.com/wp-content/themes/baeldung/favicon/android-chrome-192x192.png'
                                data-locale='auto'
                                data-zip-code='false'>
                        </script>
                    </form>
                </td>
            </tr>
            </tfoot>
        </table>

    </div>
</div>
</div>


</body>


<script src="/js/jquery/jquery-2.2.4.min.js"></script>
<script src="/js/bootstrap/popper.min.js"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>
<script src="/js/others/plugins.js"></script>
<script src="/js/active.js"></script>
</html>