<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Cart</title>

    <link rel="icon" href="img/core-img/favicon.ico">
    <link href="/style.css" rel="stylesheet">
    <link href="/css/responsive/responsive.css" rel="stylesheet">

</head>
<body>
<div class="caviar-search-form d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="search-close-btn" id="closeBtn">
                    <i class="pe-7s-close-circle" aria-hidden="true"></i>
                </div>
                <form action="#" method="get">
                    <input type="search" name="caviarSearch" id="search" placeholder="Search Your Favourite Dish ...">
                    <input type="submit" class="d-none" value="submit">
                </form>
            </div>
        </div>
    </div>
</div>


<header class="header_area" id="header">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 h-100">
                <nav class="h-100 navbar navbar-expand-lg align-items-center">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#caviarNav"
                            aria-controls="caviarNav" aria-expanded="false" aria-label="Toggle navigation"><span
                            class="fa fa-bars"></span></button>
                    <div class="collapse navbar-collapse" id="caviarNav">
                        <ul class="navbar-nav ml-auto" id="caviarMenu">
                            <li class="nav-item ">
                                <form method="get"
                                      th:action="@{/}">
                                    <button class="nav-link"
                                            style="background: none!important; border: none"><b>Home</b></button>
                                </form>
                            </li>

                            <li class="nav-item">
                                <form method="get"
                                      th:action="@{/}">
                                    <button class="nav-link"
                                            style="background: none!important; border: none"><b>About us</b></button>
                                </form>
                            </li>
                            <li class="nav-item">
                                <form method="get"
                                      th:action="@{/products/menu}">
                                    <button type="submit" class="nav-link"
                                            style="background: none!important; border: none"><b>Menu</b></button>
                                </form>
                            </li>

                            <li class="nav-item active">
                                <form method="get"
                                      th:action="@{/contact-us}">
                                    <button type="submit" class="nav-link"
                                            style="background: none!important; border: none"><b>Contact</b></button>
                                </form>
                            </li>
                        </ul>

                        <div class="caviar-search-btn">
                            <a id="search-btn" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">

        <table class="table  table-hover ">
            <tbody class="">
            <tr>
                <th>Product</th>
                <th></th>

                <th>Price</th>
                <th>Quantity</th>

                <th>Subtotal</th>
                <th></th>
            </tr>
            </tbody>
            <tbody class="">

            <tr class="align-content-center justify-content-center align-items-center">
                <td class=""><img src="img/50x50.png" /></td>
                <td class="text-left" style="">Product 1 <br>
                    Quis aute iure reprehenderit in voluptate vellit essen cillum dolore eu fugiat
                    nulla pariatur.Lorem ipsum dolor sit amet
                </td>
                <td class="pt-lg-5">$1.99</td>
                <td class="pt-lg-5"><textarea placeholder="1" style="height: 30px;"> 1</textarea></td>
                <td class="pt-lg-5">1.99</td>
                <td class="pt-lg-5 " ><div title="" href="" class="btn btn-primary" > <i class="fa fa-recycle"></i></div>
                    <div title="" href="" class="btn btn-danger"  ><i class="fa fa-trash"></i></div>
                </td>

            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td style=" position: relative;right: 13px; width: 300px;"><div class="btn btn-warning text-white"><i 	class=" fa fa-angle-left"></i> Continue Shopping</div></td>
                <td></td>
                <td></td>
                <td></td>
                <td><b>Total $1.99</b></td>
                <td><div style="width: 200px; position: relative;left: 13px;" class="btn btn-success">Checkout <i class="fa fa-angle-right"></i> </div> </td>
            </tr>
            </tfoot>
        </table>

    </div>
</div>
</div>


<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-text">
                    <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        All rights reserved | Kristijan Nikoloski &nbsp; Jovan Papalazoski
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>

<script src="/js/jquery/jquery-2.2.4.min.js"></script>
<script src="/js/bootstrap/popper.min.js"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>
<script src="/js/others/plugins.js"></script>
<script src="/js/active.js"></script>
</html>